<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script async src="plugins/tasks/scripts.js" type="text/javascript"></script>
<link href="plugins/tasks/styles.css" rel="stylesheet" type="text/css">


<div class="title-area">
    <h3 class="page-title" id="title-task-plugin"></h3>
</div>

<div class="tasks container-fluid" id="task-content">

    <div class="panel-group">
        <div class="panel panel-default p-0 shadow-sm mb-1 bg-white" id="lists">
            <template id="task-list-template">
                <div class="task-list-header primary-color d-flex justify-content-between">
                    <button class="collapse-list-button btn" data-target="#collapse3" data-toggle="collapse"
                            type="button"><i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="collapse-list-title flex-grow-1 pt-1">
                        <p class="task-list-title text-white text-center text-break text-left" contenteditable="true"
                           maxlength="25"></p>
                    </div>
                    <div class="task-list-task-count p-1 pt-2">
                        <span class="subtasks-done">0</span><span class="subtasks-total">0</span>
                    </div>
                    <div class="pr-2">
                        <button class="delete-task-list-button btn" data-target="#deleteListModal" data-toggle="modal">
                            <i
                                    class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="panel-collapse collapse show" id="collapse3">
                    <div class="list-group" id="">
                        <template id="task-item-template">
                            <div class="list-group-item d-flex justify-content-between p-1 list-group-item-action border">
                                <div class="p-2 pl-3">
                                    <input class="task-item-check-box checkbox-2x" onclick="" type="checkbox"/>
                                </div>
                                <div class="flex-grow-1">
                                    <a class="task-item-title btn btn-block" href=""></a>
                                </div>
                                <div class="pr-1">
                                    <button class="delete-task-button btn" onclick=""><i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <div class="pt-5"></div>

</div>

<!-- Plus Button -->
<button class="add-btn" onclick="toggleAddMenu()">
    <i class="fas fa-plus"></i>
</button>

<ul class="add-menu" id="addMenu">
    <li>
        <div data-target="#createListModal" data-toggle="modal" onclick="removeAddMenu()">
            <i class="fas fa-tasks"></i>
            <span id="create-list-plus-button"></span>
        </div>
    </li>
    <li>
        <div data-target="#createTaskModal" data-toggle="modal" onclick="removeAddMenu()">
            <i class="fas fa-plus-circle"></i>
            <span id="create-task-plus-button"></span>
        </div>
    </li>
</ul>

<!-- Modal Template-->
<template id="modal-template">
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-div-template">
                <div id="modal-div">
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-button" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="btn btn-primary" id="modal-button" type="button"></button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Template for a form to create a task-->
<template id="create-task-form-template">
    <form class="form" name="createTaskForm">
        <label for="task-title"></label>
        <input class="form-control input-md" id="task-title" name="fname" type="text">

        <label for="task-start-date"></label>
        <input class="form-control input-md" id="task-start-date" onchange="" type="datetime-local">

        <label for="selected-task-duration"></label>
        <select class="form-control input-md" id="selected-task-duration">
        </select>

        <label for="task-end-date"></label>
        <input class="form-control input-md" id="task-end-date" type="datetime-local">

        <label class="error-label" hidden=true id="error-text-task-end-date"></label>

        <label for="selected-task-list"></label>
        <select class="form-control input-md" id="selected-task-list">
        </select>

        <label for="task-description">:</label>
        <textarea class="form-control input-md" id="task-description" rows="3"></textarea>

    </form>
</template>

<!-- Template for a form to create a list-->
<template id="create-list-form-template">
    <form class="form" name="createListForm">
        <label for="list-title"></label>
        <input class="form-control input-md" id="list-title" name="fname" type="text">
        <label class="error-label" hidden=true id="error-text-list-title"></label>
    </form>
</template>


<script>
    function toggleAddMenu() {
        document.getElementById('addMenu').classList.toggle('add-menu-active');
        document.getElementById('overlay').classList.toggle('overlay-visible');
    }

    function removeAddMenu() {
        document.getElementById('addMenu').classList.remove('add-menu-active');
        document.getElementById('overlay').classList.remove('overlay-visible');
    }

</script>
